

#about {
	margin: auto;
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    background-color: black;
}

.content: hover {
    background-color: white;
    color: black;
}

.container-full {
  margin: 0px;
  width: 100%; }

.row {
	padding: 20px;
	background-color: black;
}
